* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  --font-base: 'IBM Plex Sans', sans-serif;
  --font-alt: 'Fractul Alt', sans-serif;

  --theme-color: #0c0e0f;
  --color-blue: #7505f9;
  --color-black: #0c0e0f;
  --color-white: #fff;
  --blue-gradient: linear-gradient(66.9deg, #00e5ed 7.65%, #0044ff 91.86%);
  --gold-gradient: linear-gradient(67.68deg, #c7f661 3.4%, #04b913 81.57%);
  --pink-blue-gradient: linear-gradient(
    0.31deg,
    #ff4d63 -14.7%,
    #c42e89 25.07%,
    #9415a8 63.6%,
    #7606bb 92.19%,
    #6b00c2 108.35%
  );
  --red-yellow-gradient: linear-gradient(
    87.46deg,
    #ff4d63 11.52%,
    #c20000 54.83%
  );
  box-shadow: 0px 0px 12px;
  --yellow-green-gradient: linear-gradient(
    67.68deg,
    #c7f661 3.4%,
    #04b913 81.57%
  );
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--theme-color);
  position: relative;
  height: 100%;
}

body::before {
  background-image: url('./theme/assets/images/bodybg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  content: '';
  height: 100%;
  width: 100%;
  opacity: 1;
  margin: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

* {
  vertical-align: middle;
}

li,
ul,
ol {
  list-style: none;
  margin-bottom: 0 !important;
}

a {
  color: var(--color-white);
  text-decoration: none;
}

span {
  font-family: var(--font-base);
}

.custom-container {
  max-width: 1920px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.AppMain--wrapperBox {
  padding-left: 100px;
  padding-right: 100px;
}

@media (max-width: 1680px) {
  .AppMain--wrapperBox {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (max-width: 1280px) {
  .AppMain--wrapperBox {
    padding-left: 65px;
    padding-right: 65px;
  }
}

@media (max-width: 991px) {
  .AppMain--wrapperBox {
    padding-left: 35px;
    padding-right: 35px;
  }
}

@media (max-width: 767px) {
  .AppMain--wrapperBox {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.custom--container {
  max-width: 1410px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*-------------------------------------
             btn styled
---------------------------------------*/
.btn-styled {
  font-family: var(--font-base);
  font-weight: 600;
  line-height: 48px;
  height: 48px;
  max-width: 100%;
  width: 100%;
  width: 100%;
  border-radius: 5px;
  /* background: var(--color-blue); */
  font-size: 15px;
  color: var(--color-white);
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
}

/*---------------------------------------------------
                    section title box
------------------------------------------------------*/
.section--titlebox .section--title {
  font-family: var(--font-base);
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
}

.section--titlebox .section--subtitle {
  text-align: center;
  font-family: var(--font-base);
  font-weight: 500;
  line-height: 36px;
  font-size: 24px;
  color: var(--color-white);
  margin-bottom: 0;
}

.section--titlebox .colorText {
  font-weight: 600;
  background: linear-gradient(90deg, #00e5ed 0%, #0044ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-shadow: 0px 0px 14px #096f7d;
}

/*--------------------------------------------
                 main content box
--------------------------------------------*/
.main--content-box .section--titlebox {
  padding: 68px 0 81px;
}
